<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SwiftDesignPatterns.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>2346E941198726CB008B17E3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2346E953198726CC008B17E3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2346E97F19872BB3008B17E3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2346E98919872BB3008B17E3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
